# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Build Artifacts
dist/
build/
*.dist/
*.build/
*.onefile-build/
*.exe

# Project Specific - PRIVATE DATA
exporter_session.session
exporter_session.session-journal
config.tge
export/

# User Configuration (API Keys)
config.py
